html,body {
  height: 100%;
}
/* HOME */
.home {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  padding: 45px 15px;
  height: 100vh;
  text-align: center;
  color: #e8e5e5;
  background-color: #2c5ccc;
}
.headshot {
  position: relative;
  width: 250px;
  z-index: 3;
  border: 15px solid currentColor;
  border-radius: 100%;
}
.headshot-backdrop-wrapper{
  position: relative;
  display: inline-block;
}
.headshot-backdrop-wrapper::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border: 15px solid #383838;
  border-radius: 100%;
  content: '';
}

a{
  color: #e8e5e5;
}
a:visited {
  text-decoration: none;
  color: #e8e5e5;
}
a:hover {
  text-decoration: underline;
  color: #e8e5e5;
}
a:active {
  text-decoration: underline;
  color: #e8e5e5;
}
/* RESUME */
.resume {
  position: absolute;
  display: block;
  /* height: 100%; */
  width: 50vw;
  right: 0;
  background-color: #e8e5e5;
}
.resume-padding {
  padding-top: 2rem;
}
.divider {
  background-color: #d6d1d1;
}
@media screen and (max-width: 992px) {
  .home, .resume {
    position: unset;
      overflow: hidden;
      width: 100vw;
  }
  .home{
    height: auto;
  }
}
